$prime-color: tomato;
$green-color: lightseagreen;

$bg-color: #293241;
$bg-lite-color: lighten($bg-color, 2);
$bg-dark-color: darken($bg-color, 1.5);

$border-color: rgba(255, 255, 255, .1);
$text-color: #eee;